* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    margin: 20px 180px;
}

.header_logo {
    display: flex;
}

.header_logo h1 {
    align-self: center;
    padding-left: 10px;
}

nav ul {
    margin: 15px;
    position: relative;
}

nav ul a {
    padding-right: 30px;
    text-decoration: none;
    color: black;
}

#hero_image {
    position: relative;
    background: url("/images/2.jpg");
    ;
    height: 600px;
    background-position: top;
    background-size: cover;
}

.clear_both {
    clear: both;
}

#introduce {
    margin-top: 60px;
}

#introduce .intro_left,
#introduce .intro_right {
    float: left;
    width: 50%;
}

.intro_right {
    padding-left: 80px;
}

.intro_right img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.intro_left {
    padding-left: 180px;
}

.intro_left h2 {
    font-size: 40px;
}

.intro_left p {
    padding-top: 20px;
    padding-right: 50px;
    line-height: 1.5;
    color: gray;
}

.intro_left button {
    padding: 15px 30px;
    margin-top: 30px;
    border: 1px solid yellow;
    background-color: rgb(255, 217, 47);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

#intro_banner {
    display: inline-flex;
    background-color: hsl(0, 0%, 96%);
    padding: 100px 250px;
    margin-top: 70px;
}

#intro_banner ul {
    position: relative;
    box-sizing: border-box;
}

#intro_banner li {
    display: flex;
    list-style-type: none;
    text-align: center;
    float: left;
    width: 25%;
}

#intro_banner h2 {
    font-size: 60px;
    padding-right: 0px;
}

#intro_banner p {
    align-self: center;
    text-transform: uppercase;
    width: 70%;
    font-size: large;
    color: hsl(0, 1%, 32%);
    margin-left: 0px;
    padding-right: 10px;
}


#category_list {
    display: block;
    padding-top: 100px;
    padding-left: 140px;
}

.column_list {
    float: left;
    width: 20%;
    background-color: rgb(26, 38, 77);
    margin: 15px 20px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
}

.card i,
.card p {
    color: white;
    line-height: 60px;
}

.card i {
    font-size: 50px;
}

.card p {
    font-size: 20px;
}

#post_block {
    display: flex;
    background-color: hsl(0, 0%, 96%);
    margin: 100px 0 0px 0;
}

#post_block .post_left,
#post_block .post_right {
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.post_left {
    margin: 40px 150px;
    margin-top: 90px;
}

.post_left .row_post {
    background-color: white;
    margin-top: 50px;
    padding: 0px 30px;
}

.row_post .row {
    display: flex;
    padding: 20px 0px;
}

.post_pic {
    align-self: center;
}

.row_post .post_pic img {
    width: 180px;
    border-radius: 5px;
}

.post_detail {
    padding-left: 20px;
    align-items: center;
}

.post_detail p {
    padding-top: 10px;
    line-height: 20px;
    color: rgb(94, 91, 91);
}

.post_detail .time {
    color: rgb(141, 138, 138);
}

hr {
    border-color: rgb(223, 219, 219);
    margin: 5px 0px;
}

.btn_view-all {
    float: right;
    margin-top: 30px;
    padding: 15px 30px;
    border: 1px solid yellow;
    background-color: rgb(255, 217, 47);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}

.post_right {
    margin: 90px -80px;
    margin-right: 100px;
}

.slide_post-right .row {
    display: flex;
    background-color: white;
    margin: 50px 10px;
    padding: 20px 10px;
    height: 240px;
    width: 90%;
    box-sizing: border-box;
}

.row .calendar {
    text-align: center;
    border: none;
    width: 50%;
    height: 100px;
    background-color: rgb(253, 214, 41);
    padding-top: 15px;
    margin-left: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.calendar h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

.calendar .month {
    font-size: 18px;
}

.calendar .year p {
    margin-top: 10px;
    border: 1px solid rgb(24, 39, 71);
    background-color: rgb(24, 39, 71);
    color: white;
    padding: 15px 35px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.calendar .year {
    font-size: 18px;
    font-weight: lighter;
}

.post_detail-right {
    padding-left: 20px;
    align-items: center;
}

.post_detail-right h3 {
    padding-top: 5px;
}

.post_detail-right p {
    margin-top: 12px;
    color: rgb(94, 91, 91);
    line-height: 25px;
}

.post_detail-right .appointment {
    display: flex;
    font-size: 17px;
    padding-top: 20px;
}

.appointment p {
    color: rgb(24, 39, 71);
}

.appointment p:nth-child(1) {
    padding-right: 12px;
}

.vl {
    border-left: 1px solid rgb(182, 177, 177);
    height: 30px;
    padding-left: 12px;
    margin-top: 8px;
}

.btn_view-all-right {
    padding: 15px 30px;
    margin: -20px 55px;
    border: 1px solid yellow;
    background-color: rgb(255, 217, 47);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    float: right;
}

footer {
    background-color: rgb(24, 39, 71);
}

#footer_column-list {
    padding: 50px 150px;
}

#footer_column-list .contact_address,
#footer_column-list .featured_links,
#footer_column-list .quick_links {
    float: left;
    width: 30%;
    box-sizing: border-box;
}
#footer_column-list h2{
    color: white;
}
.contact_address ul li{
    width: 120%;
}
.contact_address ul,
.featured_links ul,
.quick_links ul {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 80px;
}
.featured_links h2{
    margin-left: 30px;
}
.quick_links h2 {
    margin-left: 80px;
}
.quick_links ul {
    margin-left: 80px;
}
.featured_links ul{
    margin-left: 30px;
}
.contact_address ul li,
.featured_links ul li,
.quick_links ul li {
    padding-top: 12px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.contact_address ul li {
    display: flex;
}

.contact_address ul li a,
.featured_links ul li a,
.quick_links ul li a {
    text-decoration: none;
    color: white;
}
.contact_address ul li i,
.featured_links ul li i,
.quick_links ul li i{
    padding-right: 15px;
    color: rgb(255, 217, 47);
}
.copy_right{
    display: flex;
    margin: -70px 160px;
    padding-bottom: 50px;
    color: white;
}
.copy_right i{
    padding-right: 10px;
}
